:root.theme-dark {
  --accent-color: #ff0070;
  --brand-color: #db00ff;
  --text-color: #f1b2ce;
  --background-image: url("../images/cover-image-dark.png");
  --background-color: var(--background-color, #000028);
  --page-font-family: "IBM Plex mono", sans-serif;
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --page-padding-lr: 0 10px;
  --title-color: #ff0070;
  --rec-visible: visible;
  --button-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --brand-color: #db00ff;
    --text-color: #f1b2ce;
    --background-image: url("../images/cover-image-dark.png");
    --background-color: var(--background-color, #000028);
    --page-font-family: "IBM Plex mono", sans-serif;
    --accent-color-hover: rgba(255, 0, 112, 0.4);
    --page-padding-lr: 0 10px;
    --title-color: #ff0070;
    --rec-visible: visible;
    --button-color: #ff0070
  }
}