:root.theme-light {
  --accent-color: #FF8DCB;
  --brand-color: #FFC2E6;
  --text-color: #353430;
  --accent-color-hover: rgba(50, 49, 45, 0.4);
  --background-image: url("../images/cover-image-light.png");
  --title-color: #353430;
  --rec-visible: hidden;
  --button-color: #353430;
  --background-color: #353430;
  --decorated-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --brand-color: #FFC2E6;
    --text-color: #353430;
    --accent-color-hover: rgba(50, 49, 45, 0.4);
    --background-image: url("../images/cover-image-light.png");
    --title-color: #353430;
    --rec-visible: hidden;
    --button-color: #353430;
    --background-color: #353430;
    --decorated-color: #353430;
  }
}