:root {
  --accent-color: #FF0070;
  --brand-color: #DB00FF;
  --text-color: #F1B2CE;
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --page-font-family: 'IBM Plex mono', sans-serif;
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --page-padding-lr: 0 10px;
  --title-color: #FF0070;
  --rec-visible: visible;
  --button-color: #FF0070;
}